@import "../../styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header{
  height: 130px;
  width: 100%;
}

.top{
  background-color: $first-color;
  height: 40px;
}

.bottom{
  background-color: $second-color;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title{
  font-size: 1.9em;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  color: $first-color;
  margin-top: 10px;
  &__start{
    color: $links-color;
  }
  &:hover{
    color: $links-color;
    .title__start{
      color: $first-color;
    }
  }
}

.menu{
  &__items{
    display: flex;
    &_item{
      margin-right: 50px;
      font-size: 1.4em;
      color: black;
      cursor: pointer;
      a{
        color: black;
        &:active, &:hover{
          color: $links-color;
        }
      }

    }
  }
}

@media (max-width: 890px) {
  .title{
    font-size: .8em;
    margin-right: 50px;
  };

  .menu__items_item{}
}
